@model IEnumerable<AQLI.Data.Models.TankTypeModel>

@{
    ViewData["Title"] = "TankTypes";
}

<h1>TankTypes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TankTypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TankTypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TankTypeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TankTypeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TankTypeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
