@using AQLI.Data.Models;
@using AQLI.DataServices;

@model TankCreatureInventoryRecordModel;

@inject DataFactory DataSource;

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                @if (Model.MaintenanceLogID != 0)
                {
                    <b>
                        Creature Inventory Log - @Model.MaintenanceLog.LogDate.ToString("MMM dd, yyyy")
                    </b>
                }
                else
                {
                    <b>
                        New Creature Inventory Record | Enter Details
                    </b>
                }
            </h4>
        </div>
        @if (Model.MaintenanceLogID != 0)
        {
            <div class="modal-body">
                <b>
                    Inventory Time: @Model.MaintenanceLog.LogDate.ToString("hh:mm tt").ToLower()
                </b>
                <br />
                <b>
                    Inventory performed by @DataSource.Find_UserDetails(Model.RecordedBy).FirstName @DataSource.Find_UserDetails(Model.RecordedBy).LastName
                </b>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
            </div>
        }
        else
        {
            <div class="modal-body">
                <b>
                    Inventory Time: <input type="text" value="@DateTime.Now.ToString("hh:mm tt").ToLower()" disabled />
                </b>
                <b>
                    Inventory Count: <input type="text" />
                </b>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                <button type="button" class="btn btn-sm btn-success">Save Log</button>
            </div>
        }
    </div>
</div>