@using AQLI.Data.Models.ViewComponentModels;
@using AQLI.DataServices;

@model TotalPurchaseBreakdownVCModel;

@inject DataFactory DataSource;

<link rel="stylesheet" type="text/css" href="~/css/widgets/TotalPurchaseBreakdownPieWidget.css" />

@{ 
    var uid_container = string.Concat("pruchasebreakdowncontainer_", new DateTimeOffset(DateTime.Now).ToUnixTimeMilliseconds());
}

<figure class="highcharts-figure">
    <div id="@uid_container" style="padding: 5px;"></div>
    <p class="highcharts-description">
        
    </p>
</figure>
<script>
    var data = [];
</script>
@{ 
    var purchaseCategories = Model.SeriesPieData.GroupBy(p => p.PurchaseCategoryType.PurchaseCategoryTypeName);

    foreach (var dataGroup in purchaseCategories)
    {
        <script>
            data.push({ name:'@dataGroup.Key', y: @dataGroup.Count() })
        </script>
    }


}
<script>
    // Build the chart
Highcharts.chart('@uid_container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: '@Model.GraphTitle'
    },
    subtitle: {
        text: '@Model.GraphTitleSubtext'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Items',
        colorByPoint: true,
        data: data
    }]
});
</script>
