@using System.Collections.Generic;
@using AQLI.Data.Models;
@using AQLI.Data.Models.ListModels;
@using AQLI.DataServices;
@using AQLI.DataServices.context;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Http;


@model PurchaseModel;
@inject DataFactory DataSource;
@inject DatabaseContext Database;

<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @(Model.PurchaseID == 0 ? "Create New Purchase" : "Edit Invoice Purchase Details: " + Model.Description)
                @if (Model.PurchaseID != 0)
                {
                    <span class="badge bg-@(Model.PurchaseCategory.CategoryColor)">
                        @Model.PurchaseCategory.CategoryName
                    </span>
                }
            </h5>            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="addEditPurchaseForm">
                <input id="PurchaseID" type="text" name="PurchaseID" value="@Model.PurchaseID" style="display: none;" />
                <!-- Purchase Description form row -->
                <div class="form-row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label">Description</label>
                            <input id="PurchaseDescription" type="text" class="form-control" name="Description" placeholder="Enter Purchase Description..." value="@Model.Description" required />
                        </div>
                    </div>
                </div>
                <!-- Quantity, Cost, ExtCost form row -->
                <div class="form-row">
                    <div class="col-3">
                        <div class="form-group">
                            <label class="control-label">Quantity</label>
                            <input id="Quantity" type="number" name="Quantity" class="form-control" value="@Model.Quantity" onchange="Purchases.events.purchaseQuantityOrCost_Changed()" required />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label class="control-label">Cost</label>
                            <input id="Cost" type="text" class="form-control" name="Cost" value="@Model.Cost" onchange="Purchases.events.purchaseQuantityOrCost_Changed()" required />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label class="control-label">Ext Cost</label>
                            <input id="ExtCost" type="text" class="form-control" name="ExtCost" value="@Model.ExtCost" disabled />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label class="control-label">Item Count</label>
                            <input id="PackageCount" type="text" class="form-control" name="PackageCount" value="@Model.PackageCount" />
                        </div>
                    </div>
                </div>
                <!-- Purchase Type, Purchase Category and Owner form row -->
                <div class="form-row">
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Purchase Type</label>
                            <select id="PurchaseCategoryTypeID" class="form-control" name="PurchaseCategoryTypeID" onchange="Purchases.events.purchaseType_Changed()" required>
                                <option value="0">-- Select Purchase Type --</option>
                                @foreach (PurchaseCategoryTypeModel categoryType in DataSource.List_PurchaseCategoryTypes())
                                {
                                    if (Model.PurchaseCategoryTypeID == categoryType.PurchaseCategoryTypeID)
                                    {
                                        <option selected value="@categoryType.PurchaseCategoryTypeID">@categoryType.PurchaseCategoryTypeName</option>
                                    }
                                    else
                                    {
                                        <option value="@categoryType.PurchaseCategoryTypeID">@categoryType.PurchaseCategoryTypeName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Purchase Subtype</label>
                            <select id="PurchaseCategoryID" class="form-control" name="PurchaseCategoryID" required>
                                <option value="0">-- Choose Purchase Type --</option>
                                @foreach (PurchaseCategoryModel category in DataSource.List_PurchaseCategories().OrderBy(p => p.CategoryName))
                                {
                                    if (Model.PurchaseCategoryID == category.PurchaseCategoryID)
                                    {
                                        <option selected value="@category.PurchaseCategoryID" data-categoryType="@category.PurchaseCategoryTypeID">@category.CategoryName</option>
                                    }
                                    else
                                    {
                                        <option value="@category.PurchaseCategoryID" data-categoryType="@category.PurchaseCategoryTypeID">@category.CategoryName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label">Purchase Owner</label>
                            <select class="form-control" name="OwnerID">
                                @foreach (WebsiteUser user in DataSource.List_Users())
                                {
                                    if (Model.OwnerID == user.UserId)
                                    {
                                        <option selected value="@user.UserId">@user.FirstName @user.LastName</option>
                                    }
                                    else
                                    {
                                        <option value="@user.UserId">@user.FirstName @user.LastName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Model details for Fish records and Tank Records -->
                @*<div class="form-row">
            <div class="col-12">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#fishCollapse">
                                Fish Details
                            </a>
                        </div>
                        <div id="fishCollapse" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                Form for fish model goes here!
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#plantCollapse">
                                Plant Details
                            </a>
                        </div>
                        <div id="plantCollapse" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                Form for plant model goes here!
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#supplyCollapse">
                                Supply Details
                            </a>
                        </div>
                        <div id="supplyCollapse" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                Form for supply model goes here!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
            </form>
        </div>
        <div class="modal-footer">
            @if (Model.PurchaseID != 0)
            {
                <button type="button" data-id="@Model.PurchaseID" class="btn btn-danger sdn-delete-purchase justify-content-start" onclick="Purchases.openConfirmDeleteModal(@Model.PurchaseID)">Delete</button>
            }
            @*<button type="button" class="btn btn-primary on-new" onclick="$('#addEditForm').submit();">Add</button>*@
            <button id="addToInvoice" type="button" class="btn btn-primary on-new">Add <i class="fas fa-plus"></i></button>
            <button type="button" class="btn btn-success" data-dismiss="modal">Done <i class="fas fa-check"></i></button>
        </div>
    </div>
</div>