@using System.Collections.Generic;
@using AQLI.Data.Models;
@using AQLI.DataServices;
@using AQLI.DataServices.context;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Http;


@model AquaticTankModel;
@inject DataFactory DataSource;
@inject DatabaseContext Database;

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@(Model.TankID == 0 ? "Add New Tank" : "Editing Details: " + Model.Name)</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="addEditForm" method="post" asp-controller="Tank" asp-action="_Save" asp-antiforgery="true" data-parsley-validate>
                <input type="hidden" name="TankId" value="@Model.TankID" />
                <input type="hidden" name="Added" value="@(DateTime.Now)" />
                <input type="hidden" id="Active" name="IsActive" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model.IsActive)" />
                <input type="hidden" id="Capacity" name="Capacity" value="@Model.Capacity" />
                <div class="form-row">
                    <div class="col-md-12 form-group">
                        <label class="control-label">Description</label>
                        <textarea class="form-control" name="Description" rows="3" placeholder="Enter a friendly description for the tank..">@(Model.Description ?? null)</textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label">Tank Name</label>
                            <input type="text" class="form-control" name="Name" value="@Model.Name" required />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Environment</label>
                            <select id="TankTypeID" class="form-control" name="TankTypeID" required>
                                @if (DataSource.List_TankTypes().Count() > 0)
                                {
                                    if (Model.TankTypeID == 0)
                                    {
                                        <option value="">-- Tank Type --</option>
                                    }

                                    foreach (TankTypeModel tankType in Database.TankType.ToList())
                                    {
                                        <option value="@(tankType.TankTypeID)" selected="@(tankType.TankTypeName == Model.TankType.TankTypeName)">@tankType.TankTypeName</option>
                                    }
                                }
                                else
                                {
                                    <option value="">-- No Tank Types --</option>
                                }

                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label">Water Type</label>
                            <select id="WaterType" class="form-control" name="WaterTypeID" required>
                                @if (DataSource.List_WaterTypes().Count() > 0)
                                {
                                    @if (Model.TankID == 0)
                                    {
                                        <option value="">-- Water Type --</option>
                                    }

                                    foreach (WaterTypeModel waterType in Database.WaterType.ToList())
                                    {
                                        <option value="@waterType" selected="@(Model.WaterType.WaterTypeID == waterType.WaterTypeID)">@waterType.WaterTypeName</option>
                                    }
                                }
                                else
                                {
                                    <option value="">-- No Water Types --</option>
                                }

                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tank Temporment</label> 
                            <select id="Temporment" class="form-control" name="TempormentID" required>
                                @if (DataSource.List_AgressionLevels().Count() > 0)
                                {
                                    @if (Model.TankID == 0)
                                    {
                                        <option value="">-- Tank Agression Level --</option>
                                    }

                                    foreach (TempormentModel agressionLevel in DataSource.List_AgressionLevels())
                                    {
                                        <option value="@agressionLevel.TempormentID" selected="@(Model.Temporment.TempormentID == agressionLevel.TempormentID)">@agressionLevel.TempormentName</option>
                                    }
                                }
                                else
                                {
                                    <option value="">-- No Agression Levels --</option>
                                }

                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label class="control-label">Tank Capacity</label>
                        <div id="slider"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-4">
                        <div class="form-check">
                            <label class="form-check-label"><input type="checkbox" class="form-check-input" checked="@(Model.IsActive)" />Active</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-check">
                            <label class="form-check-label"><input type="checkbox" class="form-check-input" />Maintenance Mode</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-check">
                            <label class="form-check-label"><input type="checkbox" class="form-check-input" />Quarantined</label>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success mr-auto">Transfer Ownership</button>
            <button type="button" class="btn btn-primary on-new" onclick="$('#addEditForm').submit();">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>