@model AQLI.Data.Models.AquaticTankModel

<div>
    <h4>AquaticTankModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TankId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TankId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Environment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Environment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubEnvironment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubEnvironment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temporment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temporment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatureType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatureType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Added)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Added)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to Dashboard</a>
</div>
