@using AQLI.Data.Models;

@model AQLI.Data.Models.AquaticTankModel

@inject AQLI.DataServices.DataFactory DataSource;

@section Style {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />
}

<h1>Tank Overview: @Model.Name!</h1>
<div><a href="@Url.ActionLink("Index", "Tank")">Back to User Dashboard</a></div>
<br />
<br />
<div class="grid">
    <div class="row">
        <div class="col-12 mx-auto">
            <button type="button" class="btn btn-sm btn-outline-primary" onclick="location.href='@Url.ActionLink("_FeedTank", "Tank", new { ID = Model.TankID })'">Feed Tank</button>
            <button type="button" class="btn btn-sm btn-outline-info" onclick="location.href='@Url.ActionLink("_AddTankNote", "Tank", new { ID = Model.TankID })'">Add Note</button>
            <button type="button" class="btn btn-sm btn-outline-warning" onclick="location.href='@Url.ActionLink("_UpdateStatus", "Tank", new { ID = Model.TankID })'">Update Status</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='@Url.ActionLink("_DoMaintenance", "Tank", new { ID = Model.TankID })'">Maintenance</button>
            <button type="button" class="btn btn-sm btn-outline-danger" onclick="location.href='@Url.ActionLink("_DisbandTank", "Tank", new { ID = Model.TankID })'" disabled>Disband</button>
        </div>        
    </div>
    <div class="row">
        <div id="tankCard_addCard" class="card tank-card col-4" data-id="0" onclick="Tank.events.cardClicked(this)">
            <div class="card-header text-center">
                Information Overview
            </div>
            <div class="card-body text-left">
                <div class="row">
                    <div class="col-6">
                        <b>Description:</b> @Model.Description
                    </div>
                    <div class="col-6">
                        <b>Establish Type:</b> @Model.CreatureType.CreatureTypeName (@Model.TankType.TankTypeName)
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <b>Established:</b> @Model.Added
                    </div>
                    <div class="col-4">
                        <b>Owner:</b> <a href="@Url.ActionLink("Profile", "User", new { ID = Model.OwnerID })">@Model.Owner.FirstName @Model.Owner.LastName</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <b>Active</b> <input type="checkbox" checked="@Model.IsActive" disabled />
                    </div>
                    <div class="col-4">
                        <b>Maintenance</b> <input type="checkbox" checked="@Model.IsMaintenance" disabled />
                    </div>
                    <div class="col-4">
                        <b>Quarantine</b> <input type="checkbox" checked="@Model.IsQuarantine" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12; mx-auto">
                        <b>Water &amp; Community Statistics</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <b>Water:</b> @Model.WaterType.WaterTypeName
                    </div>
                    <div class="col-5">
                        <b>Temporment:</b> @Model.Temporment.TempormentName
                    </div>                    
                </div>
            </div>
            <div class="card-footer">
                <div class="row">

                </div>
            </div>
        </div>
        <div id="tankCard_addCard" class="card tank-card col-3" data-id="0" onclick="Tank.events.cardClicked(this)">
            <div class="card-header text-center">
                Food &amp; Supplies
            </div>
            <div class="card-body text-left">
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-sm btn-outline-success" onclick="location.href='@Url.ActionLink("_AssignSupply", "Tank", new { ID = Model.TankID })'">Add Supply</button>
                    </div>                    
                </div>
                <table class="table-striped table-bordered table-hover col-12">
                    @if (DataSource.List_TankSupplies(Model.TankID).Count() > 0)
                    {
                        <thead>
                            <tr>
                                <td>
                                    Name
                                </td>
                                <td>
                                    Supply Type
                                </td>
                                <td>
                                    Uses Left
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (TankSupplyModel supply in DataSource.List_TankSupplies(Model.TankID))
                            {
                                <tr>
                                    <td>
                                        @supply.SupplyName
                                    </td>
                                    @if (supply.IsFood)
                                    {
                                        <td>
                                            Fish Food
                                        </td>
                                    }

                                    @if (supply.IsConsumableSupply && !supply.IsFood)
                                    {
                                        <td>
                                            Tank Supply
                                        </td>
                                    }

                                    @if (supply.IsMedication)
                                    {
                                        <td>
                                            Medication
                                        </td>
                                    }
                                    <td>
                                        @supply.ApplicationsRemaining
                                    </td>
                                </tr>                                
                            }
                        </tbody>
                    }
                    else
                    {
                        <tbody>
                            <tr>
                                <td>
                                    No supplies assigned!
                                </td>
                            </tr>
                        </tbody>
                    }

                </table>
            </div>
            <div class="card-footer">
                <div class="row">

                </div>
            </div>
        </div>
        <div id="tankCard_addCard" class="card tank-card col-2" data-id="0" onclick="Tank.events.cardClicked(this)">
            <div class="card-header text-center">
                Assigned Equipment
            </div>
            <div class="card-body text-left">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <button type="button" class="btn btn-sm btn-outline-success" onclick="location.href='@Url.ActionLink("_AssignEquipment", "Tank", new { ID = Model.TankID })'">Add Equipment</button>
                    </div>
                </div>
                <table class="table-striped table-bordered table-hover col-12">
                    @if (Model.Equipment.Count() > 0)
                    {
                        <thead>
                            <tr>
                                <td>
                                    Name
                                </td>
                                <td>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (TankEquipmentModel equipment in Model.Equipment)
                            {
                                <tr>
                                    <td>@equipment.EquipmentName</td>
                                    <td><button type="button" class="btn btn-sm btn-danger" onclick="location.href='@Url.Action("_RemoveEquipment", "Tank", new { ID = equipment.TankEquipmentId })';return false;"><i class="fa fa-info-circle" style="color: white;" aria-hidden="true"></i> Unassign</button></td>
                                </tr>
                            }
                        </tbody>

                    }
                </table>
            </div>
            <div class="card-footer">
                <div class="row">

                </div>
            </div>
        </div>
        <div id="tankCard_addCard" class="card tank-card col-2" data-id="0" onclick="Tank.events.cardClicked(this)">
            <div class="card-header text-center">
                Fish Population
            </div>
            <div class="card-body text-left">
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-sm btn-outline-success" onclick="location.href='@Url.ActionLink("_AddFish", "Tank", new { ID = Model.TankID })'">Add</button>
                        <button type="button" class="btn btn-sm btn-outline-info" onclick="location.href='@Url.ActionLink("_TransferFish", "Tank", new { ID = Model.TankID })'">Transfer</button>
                        <button type="button" class="btn btn-sm btn-outline-danger" onclick="location.href='@Url.ActionLink("_FishDeath", "Tank", new { ID = Model.TankID })'">Deceased</button>
                    </div>
                </div>
                <table class="table-striped table-bordered table-hover col-12">
                    @if (Model.UserFish.Count() > 0)
                    {
                        <thead>
                            <tr>
                                <td>
                                    Fish Name
                                </td>
                                <td>
                                    Type
                                </td>
                                <td>

                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (UserFishModel fish in Model.UserFish)
                            {
                                <tr>
                                    <td>@fish.FishName</td>
                                    <td>@fish.FishType.TypeName</td>
                                    <td><button type="button" class="btn btn-sm btn-info" onclick="location.href='@Url.Action("_details", "Fish", new { ID = fish.UserFishID })';return false;"><i class="fa fa-info-circle" style="color: white;" aria-hidden="true"></i></button></td>
                                </tr>
                            }
                        </tbody>                        
                    }
                </table>
            </div>
            <div class="card-footer">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</div>