@{
    ViewData["Title"] = "Home Page";
}
@*@inject AQLI.DataServices.DataFactory DataSource*@
@model AQLI.Data.Models.WebsiteUser;
@using System.Linq;
@using AQLI.Data.Models;


@section Style {

    <style>
        .tank-card {
            margin-right: 15px;
            padding: 0px;
        }
    </style>

}

<div class="grid">
    <div class="row">
        <div class="col-8 text-center">
            <h2 class="display-9 col-8">Watched Tanks:</h2>
        </div>
        <hr class="col-8" />
    </div>
    <div name="tankCards" class="row justify-content-center">
        @foreach (var item in Model.AquaticTanks)
        {
            <!-- Favorite tank cards -->
            <div id="tankCard_@item.TankId" class="card tank-card col-2" data-id="@item.TankId">
                <div class="card-header text-lg-center">
                    @(item.Name ?? item.Owner.FirstName + "'s " + item.Environment.ToString() + " tank") (#@item.TankId)
                    <button type="button" class="close remove-card float-right align-top" onclick="Tank.HideCard('#tankCard_' + @(item.TankId))">&times;</button>
                </div>
                <div class="card-body text-left">
                    <div>Description: @(item.Description ?? item.Environment.ToString() + " tank") </div>
                    <div>Tank Size: @item.Capacity gallons</div>
                    <div>Environment: @item.Environment.ToString()</div>
                    <div>Water Type: @item.WaterType</div>
                    <div class="align-content-center align-bottom">Added @item.Added</div>
                </div>
                <div class="card-footer" style="font-size: 10px;">
                    <form method="post" action="/Tank/Remove">
                        <input type="hidden" value="@item.TankId" name="id" data-id="@item.TankId" />
                        <input type="submit" class="btn btn-sm btn-danger float-right tank-remove-btn" value="Delete" />
                    </form>
                    <button type="button" class="btn btn-sm btn-primary float-left tank-details-btn" data-id="@item.TankId" onclick="Tank.events.cardClicked(this)">Details</button>
                </div>
            </div>
        }
        @if (Model.AquaticTanks.Count() < 4)
        {
            <!-- Add tank card -->
            <div id="tankCard_addCard" class="card tank-card col-2" data-id="0" onclick="Tank.events.cardClicked(this)">
                <div class="card-header text-center">
                    Add New Tank
                </div>
                <div class="card-body text-left">
                    <p>Freshwater: Aquatic Freshwater fish </p>
                    <p>Saltwater: Marine Saltwater fish </p>
                    <p>Quarantine: Isolation Tank for sick or new fish, plants, and aquatics </p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="btn-group-sm col-4">
                            <input type="button" class="btn btn-sm btn-primary" value="Freshwater" />
                        </div>
                        <div class="btn-group-sm col-4">
                            <input type="button" class="btn btn-sm btn-info" value="Saltwater" />
                        </div>
                        <div class="btn-group-sm col-4">
                            <input type="button" class="btn btn-sm btn-warning" style="margin-left: -10px;" value="Quarantine" />
                        </div>                                           
                    </div>                    
                </div>
            </div>
        }
    </div>
    <br />

    <!-- Dashboard Tab Navigation -->
    <div class="row justify-content-center">
        <div class="col-9 text-center">
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item">
                    <a href="#tanks_tab" class="nav-link active" data-toggle="tab">My Tanks</a>
                </li>
                <li class="nav-item">
                    <a href="#fish_tab" class="nav-link" data-toggle="tab">Fish</a>
                </li>
                <li class="nav-item">
                    <a href="#supplies_tab" class="nav-link" data-toggle="tab">Supplies</a>
                </li>
                <li class="nav-item">
                    <a href="#maintenance_tab" class="nav-link" data-toggle="tab">Maintenance</a>
                </li>
                <li class="nav-item">
                    <a href="#medical_tab" class="nav-link" data-toggle="tab">Medical Records</a>
                </li>
                <li class="nav-item">
                    <a href="#inventory_tab" class="nav-link" data-toggle="tab">Inventory</a>
                </li>
                <li class="nav-item">
                    <a href="#incident_tab" class="nav-link" data-toggle="tab">Incident Reports</a>
                </li>
                <li class="nav-item">
                    <a href="#notifications_tab" class="nav-link" data-toggle="tab">Notifications <i class="badge badge-pill badge-info">23</i></a>
                </li>
            </ul>

            <div class="tab-content" style="border-radius: 0 0 4px 4px; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 10px; ">
                <!-- tanks tab -->
                <div class="tab-pane container active" id="tanks_tab">
                    <partial name="tabs/_Tab_MyTanks" model="Model.AquaticTanks" />
                </div>
                <!-- fish tab -->
                <div class="tab-pane container fade" id="fish_tab">
                    <partial name="tabs/_Tab_Fish" model="Model" />
                </div>
                <!-- supplies tab -->
                <div class="tab-pane container fade" id="supplies_tab">
                    <partial name="tabs/_Tab_SuppliesFood" model="Model" />
                </div>
                <!-- maintenance tab -->
                <div class="tab-pane container fade" id="maintenance_tab">
                    <partial name="tabs/_Tab_Maintenance" model="Model" />
                </div>
                <!-- medical tab -->
                <div class="tab-pane container fade" id="medical_tab">
                    <partial name="tabs/_Tab_MedicalRecords" model="Model" />
                </div>
                <!-- inventory tab -->
                <div class="tab-pane container fade" id="inventory_tab">
                    <partial name="tabs/_Tab_Inventory" model="Model" />
                </div>
                <!-- incident tab -->
                <div class="tab-pane container fade" id="incident_tab">
                    <partial name="tabs/_Tab_IncidentReports" model="Model" />
                </div>
                <!-- alerts tab -->
                <div class="tab-pane container fade" id="notifications_tab">
                    <partial name="tabs/_Tab_Notifications" model="Model" />
                </div>
            </div>
        </div>
        <br />
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        //Reload page on modal closing
        $('#modalAddEdit').on('hidden.bs.modal', function () {
            location.reload();
        })

        var Tank = {
            init: function () {
                Tank.bindtable(); // call this so we can have one code call once we get binding working
            },
            events: {
                addTank_Clicked: function () {
                    Tank.openModal(0);
                },
                cardClicked: function (e) {
                    var card = $(e);
                    var id = $(card).attr("data-id");
                    Tank.openModal(id);
                }
            },
            openModal: function (id) {
                openModal('@Url.Action("_Details")/?ID=' + id, Tank.modalLoaded)
            },
            modalLoaded: function (success) {
                if (!success) {
                    ErrorMessage.show('A problem has occurred obtaining the record.<br />Please refresh the page and try again.');
                }

                $('#addEditForm').parsley().on('form:submit', function () {
                    //Send the form data to the server ajax
                    saveFormDataPost($('#addEditForm'),
                        function (data) {
                            //Success
                            $('#modalAddEdit').modal('hide');
                            if (data && data.View) {
                                $('#resultsDiv').html(data.View).fadeIn();
                                Tank.bindtable(); // call this so we can have one code call once we get binding working
                            }else {
                                ErrorMessage.show('An problem appears to have occurred saving the record. Please reload the page and try again.')
                            }
                        },
                        function (data) {
                            //Fail
                            if (typeof data.clientError != "undefined") {
                                ErrorMessage.show(data.clientError);
                            } else {
                                ErrorMessage.show(data.jsonResult);
                            }
                        }
                    );
                    //This return line is crucial to ensure the form does not do a regular(double) post
                            return false;
                });
            },
            HideCard: function (cardId) {
                $(cardId).hide();
                console.log(cardId);
            },
            bindtable: function () {
                //$('#contactTypeTable').bindTablesorter();
            }
        }

        $(Tank.init);
    </script>
}
