@using AQLI.DataServices;
@using AQLI.Data.Models;

@model UserFishModel;

@inject DataFactory DataSource;

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title">
                <h1>@Html.DisplayFor(model => model.FishName) | Fish Overview</h1>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <!-- Fish Action Button row -->
                <div class="row m-1">
                    <div class="col">
                        <div>                            
                            <h3>Details Summary</h3>
                            <hr />
                        </div>
                        <div>
                            <a class="btn btn-primary" asp-action="Dashboard" asp-controller="Fish" asp-route-id="@Model.UserFishID">Fish Dashboard</a>
                            @if (Model.FishSex == "Female" && (Model.FishStatusID != 5 && Model.FishStatusID != 6))
                            {
                                <a class="btn btn-secondary" asp-action="" asp-route-id="@Model.UserFishID">Set Pregnant!</a>
                            }
                            else if (Model.FishSex == "Female" && (Model.FishStatusID == 5 || Model.FishStatusID == 6))
                            {
                                <a class="btn btn-success" asp-action="" asp-route-id="">Birthing Successful!</a>
                                <a class="btn btn-danger" asp-action="" asp-route-id="">Birthing Failed!</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="row m-1">                    
                    <div class="col-6">
                        <!-- Purchase Details Card -->
                        <div class="card">
                            <div class="card-header">
                                Purchase Details
                            </div>
                            <div class="card-body container-fluid">
                                <div class="row">
                                    @if (Model.ParentFish == null)
                                    {
                                        <div class="col">
                                            Purchase Date:
                                        </div>
                                        <div class="col">
                                            @Model.Purchase.Date
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col">
                                            <i class="fas fa-info-circle"></i> <b>Fish was bred, no purchase data available.</b>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="card-footer text-center">

                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <!-- Fish Family Details Card -->
                        <div class="card">
                            <div class="card-header">
                                Fish Family &amp; Type Details
                            </div>
                            <div class="card-body container-fluid">
                                <div class="row">
                                    <div class="col">
                                        <b>Fish Type:</b> @Model.FishType.TypeName
                                    </div>                                    
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <b>Encumbrance:</b>
                                        @if (Model.EncumbranceMultiplier != 0)
                                        {
                                            @Model.EncumbranceMultiplier
                                        }
                                        else
                                        {
                                            @Model.FishType.TankPopulationEncumbrance
                                        }
                                    </div>                                                                      
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="col">
                                            <b>Fish Status:</b> @Model.FishStatus.Status
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="col">
                                            <b>Aggressiveness:</b> @Model.FishType.Temporment.TempormentName
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                
                            </div>
                        </div>
                    </div>                                        
                </div>
                <div class="row">
                    <div class="col">
                        <!-- Medical Records Details Card -->
                        <div class="card">
                            <div class="card-header">
                                Medical Records <div class="float: right"><a class="btn btn-success" onclick="fish.events.addMedicalRecord_Clicked()">Add</a></div>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <td>Date</td>
                                            <td>Type</td>
                                            <td>Record Notes</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (UserFish_MedicalRecordModel record in Model.MedicalRecords.OrderByDescending(mr => mr.CreatedOn))
                                        {
                                            <tr>
                                                <td>@record.CreatedOn.ToString()</td>
                                                <td>@record.MedicalRecordType.RecordType</td>
                                                <td>@record.RecordNote</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer text-right">
            <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
        </div>
    </div>
</div>